<h1 style="color: blue;">Welcome to Goods Market</h1>

<div class= "container-fluid pt-3">
<p style="font-size: 20px;">B2B e-commerce, short for business-to-business electronic commerce, is the sale of goods or services between businesses via an online sales portal. In general, it is used to improve the efficiency and effectiveness of a company's sales efforts. Instead of receiving orders using human assets (sales reps) manually – by telephone or e-mail – orders are received digitally, reducing overhead costs.</p>
<br>

<h3>
	<%= link_to 'Shopkeepers login',goodsmarkets_customer_path ,class: "btn btn-primary"%>
</h3>
<br>
<h3>
	<%= link_to 'Manufacturers login',goodsmarkets_manufacturer_path ,class: "btn btn-primary"%>
</h3>
</div>
